<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Wheelchair Menu</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/index.css" />
    <script defer src="../../src/js/videoHandler.js"></script>
    <script defer src="../../src/js/staticVideoHandler.js"></script>
    <script defer src="../../dist/main.js"></script>
  </head>
  <body>
    <div class="text-center" id="main-container">
      <!-- main-content container -->
      <section class="content-container">
      <!-- main-row layer -->
      <div class="overlay" id="menu-layer">
      </div>
      <!-- end of main-row layer -->
      <!-- info layer -->
      <div class="overlay" id="info-layer">
        <div class="row mx-auto">
            <div class="col g-0">
              
                <div class="info-header d-flex justify-content-center align-items-center">
                  <h2>Informasi Penggunaan</h2>
                </div>

                <div class="info-body d-flex justify-content-around align-items-center flex-wrap">
                  <div class="card-component">
                    <div class="card-header d-flex justify-content-around align-items-top">
                      <div class="card-logo d-flex justify-content-center align-items-top">
                        <div class="card-icon">
                          <img src="../icon/speak_recolored.png" class="icon-content">
                        </div>
                      </div>
                      <div class="card-desc d-flex justify-content-left align-items-center">
                        <div class="card left d-flex justify-content-center align-items-center">
                            <p class="caption">"Satu"</p>
                        </div>
                        <div class="card right d-flex justify-content-center align-items-center">
                            <p class="caption">"Iya"</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="frame d-flex justify-content-center align-items-center">
                        <p class="text">Ucapkan nomor menu, kemudian ucapkan "iya" untuk memilih menu.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-component">
                    <div class="card-header d-flex justify-content-around align-items-top">
                      <div class="card-logo d-flex justify-content-center align-items-top">
                        <div class="card-icon">
                          <img src="../icon/speak_recolored.png" class="icon-content">
                        </div>
                      </div>
                      <div class="card-desc d-flex justify-content-left align-items-center">
                        <div class="card left d-flex justify-content-center align-items-center">
                            <p class="caption">"Next"</p>
                        </div>
                        <div class="card right d-flex justify-content-center align-items-center">
                            <p class="caption">"Back"</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="frame d-flex justify-content-center align-items-center">
                        <p class="text">Ucapkan next untuk halaman selanjutnya, Ucapkan back untuk halaman sebelumnya.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-component">
                    <div class="card-header d-flex justify-content-around align-items-top">
                      <div class="card-logo d-flex justify-content-center align-items-top">
                        <div class="card-icon">
                          <img src="../icon/speak_recolored.png" class="icon-content">
                        </div>
                      </div>
                      <div class="card-desc d-flex justify-content-left align-items-center">
                        <div class="card left d-flex justify-content-center align-items-center">
                            <p class="caption">"Mati"</p>
                        </div>
                        <div class="card right d-flex justify-content-center align-items-center">
                            <p class="caption">"Nyala"</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="frame d-flex justify-content-center align-items-center">
                        <p class="text">Ucapkan mati untuk mematikan voice command, Ucapkan nyala untuk menyalakan kembali.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-component">
                    <div class="card-header d-flex justify-content-around align-items-top">
                      <div class="card-logo d-flex justify-content-center align-items-top">
                        <div class="card-icon">
                          <img src="../icon/speak_recolored.png" class="icon-content">
                        </div>
                      </div>
                      <div class="card-desc d-flex justify-content-left align-items-center">
                        <div class="card single d-flex justify-content-center align-items-center">
                            <p class="caption">"Info"</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="frame d-flex justify-content-center align-items-center">
                        <p class="text">Ucapkan info untuk menampilkan informasi penggunaan sistem.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-component">
                    <div class="card-header d-flex justify-content-around align-items-top">
                      <div class="card-logo d-flex justify-content-center align-items-top">
                        <div class="card-icon">
                          <img src="../icon/speak_recolored.png" class="icon-content">
                        </div>
                      </div>
                      <div class="card-desc d-flex justify-content-left align-items-center">
                        <div class="card single d-flex justify-content-center align-items-center">
                            <p class="caption">"Tidak"</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="frame d-flex justify-content-center align-items-center">
                        <p class="text">Ucapkan tidak untuk membatalkan pemilihan menu.</p>
                      </div>
                    </div>
                  </div>
                  <div class="card-component">
                    <div class="card-header d-flex justify-content-around align-items-top">
                      <div class="card-logo d-flex justify-content-center align-items-top">
                        <div class="card-icon">
                          <img src="../icon/speak_recolored.png" class="icon-content">
                        </div>
                      </div>
                      <div class="card-desc d-flex justify-content-left align-items-center">
                        <div class="card single d-flex justify-content-center align-items-center">
                            <p class="caption">"Keluar"</p>
                        </div>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="frame d-flex justify-content-center align-items-center">
                        <p class="text">Ucapkan keluar untuk keluar dari menu.</p>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="info-footer d-flex justify-content-center align-items-center">
                    <p class="info-footer-caption">Tampilan ini akan ditutup dalam <span class="info-show-countdown"></span> detik</p>
                </div>

            </div>
        </div>

      </div>
      <!-- end of info layer -->
      <!-- camera-show layer -->
      <div class="overlay" id="camera-layer">
        <div class="row mx-auto d-flex align-items-center justify-content-center">
          <div class="col-6 g-0">
            <div class="cam-header d-flex align-items-center justify-content-center" id="cam-1">
              <div>
                <h2>KAMERA BELAKANG</h2>
              </div>
            </div>
            <div class="camera">
              <div class="camera-body">
                <div class="video-container">
                  <video id="camera-2"></video>
                </div>
                <div class="loading d-flex align-items-center justify-content-center">
                  <div>
                    <img src="../icon/spinner_fix.gif" class="icon-content">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 g-0 info-container">
            <div class="cam-header d-flex align-items-center justify-content-center" id="cam-2">
              <div>
                <h2>KAMERA DEPAN</h2>
              </div>
            </div>
            <div class="camera">
              <div class="camera-body">
                <div class="video-container">
                  <video src="" id="camera-2"></video>
                </div>
                <div class="loading d-flex align-items-center justify-content-center">
                  <div>
                    <img src="../icon/spinner_fix.gif" class="icon-content">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end of camera-show layer -->
      </section>
      <!-- end of main-content container -->
      <section id="footer-container">
        <div class="row mx-auto">
            <div class="col-1 g-0">
              <div class="container-fluid d-flex justify-content-center align-items-center footer-content" style="background-color: red;">
                <div class="power-fc">
                  <img src="../icon/power.png" class="icon-content">
                </div>
              </div>
            </div>
            <div class="col-5 g-0">
              <div class="container-fluid d-flex justify-content-center align-items-center footer-content">
                <div class="mode-fc">       
                  <p class="caption">Mode: <span id="mode">N/A</span></p> 
                </div>
              </div>
            </div>
            <div class="col-3 g-0">
              <div class="container-fluid d-flex justify-content-center align-items-center footer-content">
                <div class="filkom-logo-fc">
                  <img src="../icon/filkom.png" class="icon-content">
                </div>
              </div>
            </div>
            <div class="col-3 g-0" style="position: relative;">
              <div class="row mx-auto footer-overlay" id="footer-overlay-home">
                <div class="col-8 g-0 footer-col-left">
                  <div class="container-fluid d-flex justify-content-around align-items-center footer-content" id="page-container">
                  </div>
                </div>
                <div class="col-4 g-0 footer-col-right">
                  <div class="container-fluid d-flex justify-content-center align-items-center footer-content">
                    <div class="info-fc">
                      <img src="../icon/info.png" class="icon-content">
                    </div>
                  </div>
                </div>
              </div>  
              <div class="row mx-auto footer-overlay" id="footer-overlay-in-menu">
                <div class="col" style="border: 0;">
                  <div class="container-fluid d-flex justify-content-center align-items-center footer-content" id="page-container">
                    <div class="mode-fc" style="padding-right: 2vh;">       
                      <p class="caption" style="font-family: Roboto_Regular; text-align: right;">Keluar</p> 
                    </div>
                    <div class="keluar-fc">
                      <img src="../icon/logout.png" class="icon-content">
                    </div>
                  </div>
                </div>
              </div>  
            </div>
          </div>
      </section>
    </div>
  </body>
</html>
