<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Wheelchair Menu</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/index.css" />
    <script defer src="../../dist/main.js"></script>
    <!-- <script defer src="../src/js/videoHandler.js"></script> -->
  </head>
  <body>
    <div class="text-center" id="main-container">
      <!-- main-content container -->
      <section class="content-container">
      <!-- main-row layer -->
      <div class="overlay" id="menu-container">

      </div>
      <!-- end of main-row layer -->
      <!-- info layer -->
      <div class="overlay" style="background-color: burlywood; display: none;">
        <div class="container-fluid" style="width: inherit; height: inherit;">
          <div class="row" style="width: inherit; height: inherit;">
            <div class="col" style="background-color: aqua; height: inherit;">
                
            </div>
            <div class="col" style="background-color: blueviolet; height: inherit;">
                
            </div>
          </div>
        </div>
      </div>
      <!-- end of info layer -->
      <!-- camera-show layer -->
      <div class="overlay" id="info" style="background-color: white; display: none;">
        <div class="row mx-auto" style="height: inherit;">
          <div class="col g-0" style="background-color: burlywood; height: inherit;">
            <div class="cam-header d-flex align-items-center justify-content-center" id="cam-1">
              <div style="width: fit-content; height: fit-content;">
                <h3>CAMERA 1</h3>
              </div>
            </div>
            <div class="camera">
              <video width="100%" height="100%" src="" id="camera-2"></video>
            </div>
          </div>
          <div class="col g-0" style="background-color: bisque; height: inherit;">
            <div class="cam-header d-flex align-items-center justify-content-center" id="cam-2">
              <div style="width: fit-content; height: fit-content;">
                <h3>CAMERA 2</h3>
              </div>
            </div>
            <div class="camera">
              <video width="100%" height="100%" src="" id="camera-2"></video>
            </div>
          </div>
        </div>
      </div>
      <!-- end of camera-show layer -->
      </section>
      <!-- end of main-content container -->
        
      <section class="">
        <div class="row mx-auto" id="footer-container">
            <div class="col-1 g-0">
              <div class="container-fluid d-flex justify-content-center align-items-center footer-content">
                <div class="power-fc">
                  <img src="../icon/power.png" class="icon-content">
                </div>
              </div>
            </div>
            <div class="col-5 g-0">
              <div class="container-fluid d-flex justify-content-center align-items-center footer-content">
                <div class="mode-fc">       
                  <p class="caption">Mode: <span id="mode">Head Movement</span></p> 
                </div>
              </div>
            </div>
            <div class="col-3 g-0">
              <div class="container-fluid d-flex justify-content-center align-items-center footer-content">
                <div class="filkom-logo-fc">
                  <img src="../icon/filkom.png" class="icon-content">
                </div>
              </div>
            </div>
            <div class="col-2 g-0">
              <div class="container-fluid d-flex justify-content-around align-items-center footer-content" id="page-container">
              </div>
            </div>
            <div class="col-1 g-0">
              <div class="container-fluid d-flex justify-content-center align-items-center footer-content">
                <div class="info-fc">
                  <img src="../icon/info.png" class="icon-content">
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
  </body>
</html>
