<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Smart Wheelchair Menu</title>
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../style/index.css" />
    <!-- <script defer src="../../src/js/videoHandler.js"></script>
    <script defer src="../../dist/main.js"></script> -->
  </head>
  <body>
    <div style="width: 100%; height: 100%;">
      <div class="overlay" id="info-layer" style="background-color: burlywood; display: block;">
        <div class="container-fluid" style="width: 100%; height: inherit;">
          <div class="row" style="width: 100%; height: inherit;">
            <div class="col" style="background-color: aqua; height: inherit;">
                
            </div>
            <div class="col" style="background-color: blueviolet; height: inherit;">
                
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </body>
</html>
