@font-face {
  font-family: roboto;
  src: url("../style/font/Roboto_Slab/static/RobotoSlab-ExtraBold.ttf");
}

@font-face {
  font-family: roboto_medium;
  src: url("../style/font/Roboto_Slab/static/RobotoSlab-Medium.ttf");
}

@font-face {
  font-family: roboto_regular;
  src: url("../style/font/Roboto_Slab/static/RobotoSlab-Regular.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
  margin: auto 0;
  padding: 0;
  color: black;
  font-family: roboto_regular;
  box-sizing: border-box;
}

#main-container {
  background-color: #dd2d4a;
  width: 100%;
  height: 100%;
  margin: auto 0;
  padding: 0;
}

/* BOOTSTRAP GENERAL STYLE SECTION */
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  border: 1px solid black;
}

.icon-content {
  background-size: cover;
  width: inherit;
  height: inherit;
  overflow: hidden;
}
/* END OF BOOTSTRAP GENERAL STYLE SECTION */

/* MAIN CONTENT STYLE SECTION */
.clicked-container {
  width: 100%;
  height: 100%;
  background-color: #cbeef3;
  transform: scale(1, 1);
}

.content-container {
  height: 85vh;
  width: 100%;
  position: relative;
  background-color: white;
}

.overlay {
  width: inherit;
  height: inherit;
  position: absolute;
}

.row-main {
  width: 100%;
  height: 42.5vh;
}

.main-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  z-index: 2;
}

/* COL */
#menu-content-container {
  position: relative;
  background-color: black;
}

.warning {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dd2d4a;
  opacity: 0%;
  z-index: 1;
  display: none;
}

.content-card {
  width: 100%;
  height: 100%;
  background-color: #cbeef3;
  position: relative;
}

.number {
  margin: 0px auto;
  margin-top: -2vh;
  padding-left: 2.5vh;
  font-size: 10vh;
  font-family: Roboto;
  color: black;
}

.number-card-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
}

.icon-container {
  width: 9vw;
  height: 9vw;
  margin-bottom: 3.5vh;
}

.caption-card-container {
  width: inherit;
}

.caption-container {
  width: inherit;
  height: inherit;
  margin-bottom: 1.5vh;
}

.icon-card-container {
  width: inherit;
  height: 100%;
}
/* INFO STYLE SECTION */
#info-layer {
  background-color: white;
}

#info-layer .col {
  width: 100%;
  height: inherit;
}

#info-layer .row {
  opacity: 0%;
  width: 100%;
  height: inherit;
}

.info-header {
  width: 100%;
  height: 10%;
  background-color: #72eafb;
  border-bottom: 2px solid black;
}

.info-body {
  width: 100%;
  height: 85%;
  padding: 20px;
}

.card-component {
  width: 30%;
  height: 45%;
  background-color: #8ecae6;
  border-radius: 5px;
  overflow: hidden;
}

.card-header {
  width: 100%;
  height: 70%;
}

.card-logo {
  width: fit-content;
  height: 100%;
}

.card-icon {
  width: 17vh;
  height: 17vh;
  margin-left: -3vh;
}

.info-footer {
  width: 100%;
  height: 5%;
  padding: 5px;
}

.info-footer-caption {
  display: block;
  font-size: 2.5vh;
  font-family: roboto_regular;
  color: black;
}

.info-show-countdown {
  font-weight: bold;
}

.card-desc {
  width: 70%;
  height: 100%;
  padding-left: 4vh;
}

.card-desc .card {
  background-color: #023047;
  border: #ffb703 solid 3px;
  border-radius: 10px;
}

.card-desc .left {
  width: 16vh;
  height: 16vh;
  margin-right: 0.5vh;
}

.card-desc .right {
  width: 16vh;
  height: 16vh;
  margin-left: 0.5vh;
}

.card-desc .single {
  width: 33vh;
  height: 16vh;
  margin-right: 0.5vh;
}

.card-desc .card .caption {
  display: block;
  font-family: roboto_regular;
  color: #ffb703;
  font-size: 4vh;
  margin: auto 0;
  font-weight: bold;
}

.card-body {
  width: 100%;
  height: 30%;
  background-color: #ffb703;
  border-top: 4px black solid;
}

.card-body .frame {
  width: 100%;
  height: 100%;
  padding: 0 5px;
}

.card-body .text {
  display: block;
  margin: auto 0;
  font-weight: 450;
  text-align: justify;
}
/* END OF INFO STYLE SECTION */

/* END OF MAIN CONTENT STYLE SECTION */
/* FOOTER STYLE SECTION */
.footer-content {
  height: 100%;
}

.mode-fc {
  width: fit-content;
  height: fit-content;
}

.power-fc {
  width: 9vh;
  height: 9vh;
}

.filkom-logo-fc {
  width: 40vh;
  height: 10vh;
}

.info-fc {
  width: 10vh;
  height: 10vh;
}

.keluar-fc {
  width: 10vh;
  height: 10vh;
}

.caption {
  line-height: 100%;
  font-size: 5.3vh;
  margin: 0px auto;
  padding-bottom: 5px;
  font-family: roboto_regular;
  color: black;
}

#footer-container {
  width: 100%;
  height: 15vh;
  background-color: #72eafb;
}

#footer-container .row {
  width: 100%;
  height: 100%;
}

#back-icon {
  transform: rotate(180deg);
}

.footer-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0%;
}

#footer-overlay-home {
  opacity: 100%;
}

.footer-col-left {
  border: 0;
  border-right: 1px solid black;
}

.footer-col-right {
  border: 0;
  border-left: 1px solid black;
}
/* END OF FOOTER STYLE SECTION */

/* CAMERA STYLE SECTION */
#camera-layer {
  background-color: #023047;
  opacity: 100%;
}

#camera-layer .col-6 {
  height: 100%;
  border: 1px solid black;
}

#camera-layer .row {
  height: 100%;
  background-color: white;
}

.cam-header {
  height: 10%;
  border-bottom: 2px solid black;
  background-color: #cbeef3;
}

.cam-header div {
  width: fit-content;
  height: fit-content;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.loading div {
  width: 20vh;
  height: 20vh;
}

.camera {
  height: 90%;
  padding: 2vh;
  margin: auto 0;
}

.video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.video-container video {
  width: "100%";
  height: "100%";
}

.camera-body {
  height: 100%;
  position: relative;
}


