@font-face {
  font-family: Roboto;
  src: url("../style/font/Roboto_Slab/static/RobotoSlab-ExtraBold.ttf");
}

@font-face {
  font-family: Roboto_Medium;
  src: url("../style/font/Roboto_Slab/static/RobotoSlab-Medium.ttf");
}

@font-face {
  font-family: Roboto_Regular;
  src: url("../style/font/Roboto_Slab/static/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: Inter;
  src: url("../style/font/Inter/static/Inter-Medium.ttf");
}

html,
body {
  height: 100%;
  width: 100%;
  margin: auto 0;
  padding: 0;
  background-color: gainsboro;
  box-sizing: border-box;
}

#main-container {
  background-color: #dd2d4a;
  width: 100%;
  height: 100%;
  margin: auto 0;
  padding: 0;
}

/* BOOTSTRAP GENERAL STYLE SECTION */
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  border: 1px solid black;
}

.icon-content {
  background-size: cover;
  width: inherit;
  height: inherit;
}

/* END OF BOOTSTRAP GENERAL STYLE SECTION */

/* MAIN CONTENT STYLE SECTION */

.clicked-container {
  width: 100%;
  height: 100%;
  background-color: #cbeef3;
  /* transform: scale(0.9, 0.9); */
}

.content-container {
  height: 85vh;
  width: 100%;
  position: relative;
  background-color: white;
}

.overlay {
  height: inherit;
  width: inherit;
  position: absolute;
}

.row-main {
  width: 100%;
  height: 42.5vh;
}

.main-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 15px;
  z-index: 2;
}

#menu-content-container {
  position: relative;
  background-color: black;
}

.warning {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dd2d4a;
  opacity: 100%;
  z-index: 1;
  display: none;
}

.content-card {
  width: 100%;
  height: 100%;
  background-color: #cbeef3;
  position: relative;
}

.number {
  margin: 0px auto;
  margin-top: -2vh;
  padding-left: 2.5vh;
  font-size: 10vh;
  font-family: Roboto;
  color: black;
}

.number-card-container {
  width: fit-content;
  height: fit-content;
  position: absolute;
}

.icon-container {
  width: 9vw;
  height: 9vw;
  margin-bottom: 3.5vh;
}

.caption-card-container {
  width: inherit;
}

.caption-container {
  width: inherit;
  height: inherit;
  margin-bottom: 1.5vh;
}

.icon-card-container {
  width: inherit;
  height: 100%;
}

/* END OF MAIN CONTENT STYLE SECTION */

/* FOOTER STYLE SECTION */
.footer-content {
  height: 100%;
}

.mode-fc {
  width: fit-content;
  height: fit-content;
}

.power-fc {
  width: 9vh;
  height: 9vh;
}

.filkom-logo-fc {
  width: 40vh;
  height: 10vh;
}

.info-fc {
  width: 10vh;
  height: 10vh;
}

.caption {
  line-height: 100%;
  font-size: 5.3vh;
  margin: 0px auto;
  padding-bottom: 5px;
  font-family: Roboto_Regular;
  color: black;
}

#footer-container {
  background-color: cyan;
  height: 15vh;
}

#back-icon {
  transform: rotate(180deg);
}
/* END OF FOOTER STYLE SECTION */

/* CAMERA STYLE SECTION */
.cam-header {
  height: 10%;
}

.camera {
  background-color: white;
  height: 90%;
  padding: 0 5vh;
}

/* #cam-1 {
  border-right: 0.5px solid black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}

#cam-2 {
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-left: 0.5px solid black;
  border-bottom: 1px solid black;
} */

/* END OF CAMERA STYLE SECTION */
